@font-face {
  font-family: 'iA Writer Duo V';
  src: local('iA Writer Duo V'),
    url('/fonts/iAWriterDuoS-Regular.woff2') format("woff2"),
    url('/fonts/iAWriterDuoS-Regular.woff') format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'iA Writer Duo V';
  src: local('iA Writer Duo V'),
    url('/fonts/iAWriterDuoS-Bold.woff2') format("woff2"),
    url('/fonts/iAWriterDuoS-Bold.woff') format("woff");
  font-weight: bold;
  font-style: normal;
}
